<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form id="login-form" action="/login/form" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>
<h2>Tokens</h2>
<div id="tokens">
    <div id="access-token">{access_token}</div>
    <div id="refresh-token">{refresh_token}</div>
</div>
<h2>Refresh token</h2>
<button id="refresh-token-button" onclick="refreshToken()">Refresh token</button>
<button id="test-auth-button" onclick="authToken()">Test authentication</button>
<script lang="javascript" src="/js/login.js"></script>
</body>
</html>